/* =============
    Base
============= */
main{

    

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". main .";
    }
    

    >div{

        @include xl{
            grid-area: main;
        }

        display: grid;
        // gap: 30px;
        // grid-template-columns: 25% 25% 25% 25%;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-columns: 50% auto;

        // Header      Header
        // Section-1   Section-2
        // footer      footer

        // grid-template-areas:
        // "header header"
        // "section1 section2"
        // "footer footer";


        header{
            // grid-area: header;
        }
    
        #section-1{
            // grid-area: section1;
        }
    
        #section-2{
            // grid-area: section2;
    
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
            }
    
            
            article{
    
            }
            
            aside{
    
            }
        }
    
        footer{
            // grid-area: footer;
        }
    }
}


