/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$lightpink: rgba(251, 247, 244, 1);
$white: #FFFF;
$bronze: #421908;
$seashell: #FCF9F7;
$champagnepinkdark: #F3DFDA;
$champagnepinklight: #90817D;
$indigio: rgba(81, 97, 137, 1);
$teagreen: #7E8E76;
$darkgreen: rgba(126, 142, 118, 1);
$lightgreen: #D2ECC5