/* =============
    Section 2
============= */

#section-2{
    a:link, a:visited{
        background-color: $red;
        display: inline-block;
        padding: 10px 20px;
        color: $white;
        transition: 0.25s;
        text-decoration: none;
        margin-top: 20px;
    }

    a:hover, a:active{
        background-color: $charcoal;
        color: $red;
    }
}