.header {
    background: $seashell;
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.plus_icon {
    width: 3%;
    height: 3%;

    @include lg {
        display: none;
    }
}

.right_icons {
    display: block;
    align-items: right;
    width: 10%;
    height: 10%;
}


.header_navigation {
    display: none;
    color: $bronze;
    text-decoration: none;

    @include lg {
        display: block;
    }
}