.services_type {
    text-align: center;
    color: $bronze;
    width: 70%;
    padding-top: 32px;
    margin: 0 auto;
}


.body_type {
    text-align: left;
    color: $bronze;
    font-size: 24px;
    width: 70%;
    padding-top: 32px;
    margin: 0 auto;

    @include lg {
        text-align: center;
    }
}

.services_container {
    position: relative;
    width: 50%;
}

.floral_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.floral_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}

.services_container {
    position: relative;
    width: 50%;
}

.plants_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.plants_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}


.services_container {
    position: relative;
    width: 50%;
}

.cafe_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.cafe_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}

.services_container {
    position: relative;
    width: 50%;
}

.gifts_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.gifts_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}

.gifts_body {
    padding: 16px;
    bottom: 50% left;
    color: $bronze;
    font-size: 24px;
}

.cafe2_image {
    display: flex;
    justify-content: center;
}

.cafe2_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 32px;
    text-align: center;
}

.cafe_body {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 16px;
    text-align: left;
}

.cafe2_image {
    margin: auto;
    display: block;
    width: 90%;
}

.community_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 32px;
    text-align: left;
}

.community_body {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 16px;
    text-align: left;
}

.community_image {
    margin: auto;
    display: block;
    width: 90%;
}