.services_type {
    text-align: center;
    color: $bronze;
    width: 70%;
    padding-top: 32px;
    margin: 0 auto;
    font-size: 32px;
}


.body_type {
    text-align: left;
    color: $bronze;
    font-size: 24px;
    width: 70%;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;

    @include lg {
        text-align: center;
    }
}

.services_container {
    position: relative;
    width: 50%;
}

.floral_image {
    width: 100%;
    height: auto;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.floral_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
    text-align: left;
}

.services_container {
    position: relative;
    width: 50%;
}

.plants_image {
    width: 100%;
    height: auto;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.plants_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
    text-align: left;
}

.services_image {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 0px;

    background-color: #F3DFDA;

    @include lg {
        flex-wrap: nowrap;
    }
}


.services_container {
    position: relative;
    width: 50%;

    @include lg {
        width: 25%;
    }
}

.carousel_container {
    padding-top: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cafe_image {
    width: 100%;
    height: auto;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.cafe_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
    text-align: left;
}

.services_container {
    position: relative;
    width: 50%;
}

.gifts_image {
    width: 100%;
    height: auto;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.gifts_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}

.gifts_body {
    padding: 16px;
    bottom: 50% left;
    color: $bronze;
    font-size: 24px;
}

.cafe2_image {
    display: flex;
    justify-content: center;
}

.cafe2_type {
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 64px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 32px;
    text-align: center;
}

.cafe_body {
    padding: 16px;
    padding-bottom: 0px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 16px;
    text-align: left;
}

.cafe2_image {
    margin: auto;
    display: block;
    width: 90%;
}

.community_type {
    padding-top: 32px;
    padding-bottom: 32px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 32px;
    text-align: center;
}

.community_body {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 16px;
    text-align: left;
}

.community_image {
    margin: auto;
    display: block;
    width: 90%;

    @include lg {
        width: 97%;
    }


}

.newsletter_type {
    padding-left: 32px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
    text-align: left;

}

.newsletter_body {
    padding-left: 32px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 16px;
    text-align: left;

}

.newsletter_container_input {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 50%;
    margin-left: 32px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;

}

.newsletter_button {
    background: #7E8E76;
    color: #FFFF;
    font-size: 16px;
    outline: 0;
    padding: 8px;
    margin-left: 8px;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    width: 15%;

    @include lg {
        width: 10%;
    }


}

.newsletter {
    display: flex;
    flex-wrap: wrap;
    background: #D2ECC5;
    padding-top: 46px;
    padding-bottom: 40px;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 16px 16px;

    @include lg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 88%;
    }
}








.contact_image {
    margin: auto;
    display: block;
}



.contact_body {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 16px;
    text-align: left;
}


.contact_information {
    background-color: #F3DFDA;
    width: 100%;
    border-radius: 0px 0px 16px 16px;

}

.mail_icon {

    @include lg {
        margin: auto;
        display: block;
        flex-direction: row;
    }
}


.clock_icon {

    @include lg {
        margin: auto;
        display: block;
        flex-direction: row;
    }
}

.pin_icon {

    @include lg {
        margin: auto;
        display: block;
        flex-direction: row;
    }
}

.name_container_input {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 24px;
    margin-left: 24px;
    width: 95%;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;

    @include lg {
        width: 98%;
    }
}

.email_container_input {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    margin-left: 24px;
    margin-right: 24px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 24px;
    margin-right: 16px;

    @include lg {
        width: 98%;
    }
}

.address_container_input {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    margin-left: 24px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 24px;

    @include lg {
        width: 98%;
    }
}

.message_container_input {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    margin-left: 24px;
    margin-right: 24px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 24px;

    @include lg {
        width: 98%;
    }
}

.contact_button {
    background: #7E8E76;
    color: #FFFF;
    font-size: 16px;
    outline: 0;
    padding: 8px;
    margin-left: 24px;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    width: 15%;


}

.message_text {
    text-align: left;
}

.contact_header1 {
    padding: 24px;
    padding-top: 16px;
}

.contact_container_input_1 {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    margin-left: 24px;
    margin-right: 24px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;

    @include lg {
        width: 98%;
    }
}

.contact_container_input_2 {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    margin-left: 24px;
    margin-right: 24px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;

    @include lg {
        width: 98%;
    }
}


.contact_container_input_3 {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    margin-left: 24px;
    margin-right: 24px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 24px;

    @include lg {
        width: 98%;
    }
}

.contact_container_input_4 {
    text-align: left;
    color: $bronze;
    font-size: 16px;
    padding: 8px;
    width: 95%;
    margin-left: 24px;
    margin-right: 24px;
    outline-width: 1.5px;
    outline-color: #90817D;
    border-radius: 0px 0px 8px 8px;

    @include lg {
        width: 98%;
    }
}

.contact_header_2 {
    padding: 32px;
    padding-bottom: 32px;

}