.services_type {
    text-align: center;
    color: $bronze;
    width: 70%;
    padding-top: 32px;
    margin: 0 auto;
}


.body_type {
    text-align: center;
    color: $bronze;
    font-size: 24px;
    width: 70%;
    padding-top: 32px;
    margin: 0 auto;
}







.services_container {
    position: relative;
    width: 50%;
}

.floral_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.floral_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}

.services_container {
    position: relative;
    width: 50%;
}

.plants_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.plants_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}



.services_container {
    position: relative;
    width: 50%;
}

.cafe_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.cafe_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}

.services_container {
    position: relative;
    width: 50%;
}

.gifts_image {
    width: 100%;
    height: auto;
    padding: 16px;
}

.gifts_type {
    padding: 16px;
    top: 50%;
    left: 50%;
    color: $bronze;
    font-size: 24px;
}