.main-content-sidebar {
    background-color: $dark-blue;
    color: $white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 1;
    }

    .main-content-body {
        background-color: $grey;
        color: $white;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        grid-column: span 2;
        }

        .main-content-ads {
            background-color: $red;
            color: $white;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
            grid-column: span 1;
            @include sm {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            @include md {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @include lg {
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }


            