.border {
	border: 20px solid green;
}
.box {
	margin: 50px 0 50px 0;
	background-color: green;
}

.box-background-example {
	padding: 50px 50px;
	background-image: url('./../img/ziggy.jpg');
	background-position: center;
	margin-bottom: 50px;
}

.box-3 {
	background-color: pink;
	width: 80%;
}
