<footer class="footer">
  <div class="social-wrapper"
    <a class="social-icon" target="blank" href="https://instagram.com">
      <img src="./img/Instagram-icon.png" alt="social icon />"
      /></a>
    <a class="social-icon" target="blank" href="https://pinterest.com">
      <img src="./img/Pinterest-icon.png" alt="social icon />"
      /></a>
    <a class="social-icon" target="blank" href="https://facebook.com">
      <img src="./img/Facebook-icon.png" alt="social icon />"
      /></a>
    <a class="social-icon" target="blank" href="https://yelp.com">
      <img src="./img/Y-icon.png" alt="social icon />"
      /></a>
  </div>
   <div class="social-wrapper"
       <a class="social-icon" target="blank" href="https://instagram.com">
         <img src="./img/Instagram-icon.png" alt="social icon />"
         /></a>
       <a class="social-icon" target="blank" href="https://pinterest.com">
         <img src="./img/Pinterest-icon.png" alt="social icon />"
         /></a>
       <a class="social-icon" target="blank" href="https://facebook.com">
         <img src="./img/Facebook-icon.png" alt="social icon />"
         /></a>
       <a class="social-icon" target="blank" href="https://yelp.com">
         <img src="./img/Y-icon.png" alt="social icon />"
         /></a>
     </div>
</footer>
  <div>

